* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e0e0e0;
}

/* Contenedor principal */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Formulario de registro */
.container-perfil {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    border: 1px solid black;
}

/* Caja de los inputs */
.input-box {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: white;
}

/* Iconos */
.input-box i {
    color: #000000;
    margin-right: 10px;
}

/* Estilos para los inputs */
.input-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
}

p{
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #464646;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: #7c7c7c;

}

.btn-regresar{
    margin-top: 10px;
    width: 120px;
}

.btn-regresar:hover{
    background-color: rgb(240, 53, 53);
}

.user{
    font-size: 100px;
}