<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../static/contacto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>
    <div class="container">
        <div class="container-contacto">
            <h1>Contacto</h1>

            <div class="input-box">
                <i class="fa-solid fa-phone"></i><span>*Telefono de la pagina*</span>
            </div>

            <div class="input-box">
                <i class="fa-brands fa-whatsapp"></i><span>*Whatsapp de la pagina*</span>
            </div>

            <div class="input-box">
                <i class="fa-brands fa-instagram"></i><span>*Instagram de la pagina*</span>
            </div>
    
            <a href="/pagina_principal"><button type="submit">Regresar</button></a>
        </div>
    </div>
</body>

</html>